<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ABPEntities" connectionString="metadata=res://*/ABP.csdl|res://*/ABP.ssdl|res://*/ABP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XP-BD\ABP;initial catalog=SLMD_ABP;user id=user;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>