<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="patient_info_dbEntities" connectionString="metadata=res://*/ModelPatient.csdl|res://*/ModelPatient.ssdl|res://*/ModelPatient.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=rootudahta;Persist Security Info=True;database=patient_info_db&quot;" providerName="System.Data.EntityClient" />
    <add name="udahta_dbEntities" connectionString="metadata=res://*/ModelUda.csdl|res://*/ModelUda.ssdl|res://*/ModelUda.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=udahta_db;Password=rootudahta;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>