<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Spacelabs" connectionString="Server=XP-BD\ABP;Database=SLMD_ABP;User Id=user;Password=;"/>
    <add name="Hms" connectionString="jdbc:h2:C:\Users\Fede\Documents\Proyecto de Grado\HMS_db;USER=sa;PASSWORD=;" />
  </connectionStrings>
</configuration>