<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Spacelabs" connectionString="Server=\\XP-BD\ABP;Database=SLMD_ABP;User Id=user;Password=;"/>
    <add name="ABPEntities" connectionString="metadata=res://*/ABP.csdl|res://*/ABP.ssdl|res://*/ABP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XP-BD\ABP;initial catalog=SLMD_ABP;user id=user;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Hms" connectionString="jdbc:h2:file:C:\HMS_db\database;USER=sa;PASSWORD=" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
      description=".Net Framework Data Provider for MySQL"
      type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, 
        Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>