<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="udahta_dbEntities" connectionString="metadata=res://*/ModelUda.csdl|res://*/ModelUda.ssdl|res://*/ModelUda.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.10;User Id=root;database=udahta_db;password=rootudahta;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="patient_info_dbEntities" connectionString="metadata=res://*/ModelPatient.csdl|res://*/ModelPatient.ssdl|res://*/ModelPatient.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.10;User Id=root;password=rootudahta;Persist Security Info=True;database=patient_info_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, &#xD;&#xA; Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>