<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntegrationHC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <IntegrationHC.Properties.Settings>
            <setting name="IntegrationHC_DatosPacienteRegistro_WebSrvDarColPer1"
                serializeAs="String">
                <value>http://gestiondesa.hc:8080/IndicePacientes/servlet/awebsrvdarcolper1</value>
            </setting>
            <setting name="IntegrationHC_DatosPacienteCI_2_WebSrvDatosPersonaCda"
                serializeAs="String">
                <value>http://gestiondesa.hc:8080/IndicePacientes/servlet/awebsrvdatospersonacda</value>
            </setting>
        </IntegrationHC.Properties.Settings>
    </applicationSettings>
</configuration>