<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="ABPEntities" connectionString="metadata=res://*/ABP.csdl|res://*/ABP.ssdl|res://*/ABP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XP-BD\ABP;initial catalog=SLMD_ABP;user id=user;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Hms" connectionString="jdbc:h2:~/HMS Client-Server_DB/database;USER=sa;PASSWORD=" />
    <add name="patient_info_dbEntities" connectionString="metadata=res://*/ModelPatient.csdl|res://*/ModelPatient.ssdl|res://*/ModelPatient.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=rootudahta;Persist Security Info=True;database=patient_info_db&quot;" providerName="System.Data.EntityClient" />
    <add name="udahta_dbEntities" connectionString="metadata=res://*/ModelUda.csdl|res://*/ModelUda.ssdl|res://*/ModelUda.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=udahta_db;Password=rootudahta;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="LongDateTimeString" value="dd/MM/yyyy HH:mm" />
    <add key="ShortDateString" value="dd/MM/yyyy" />
    <add key="ShortTimeString" value="HH:mm" />
    <add key="LogPath" value="C:\Users\Public\Documents\Proyecto\Generated doc\LOG\"/>
    <add key="DiagnosisTemplate" value="C:\Users\vaio\Documents\Visual Studio 2010\Projects\UDA-HTA\UDA-HTA\DiagnosisTemplate.txt"/>
    <add key="HCLogo" value="C:\Users\vaio\Documents\Visual Studio 2010\Projects\UDA-HTA\UDA-HTA\Pictures\HCLogo.jpg"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>