<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ABPEntities" connectionString="metadata=res://*/ABP.csdl|res://*/ABP.ssdl|res://*/ABP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XP-BD\ABP;initial catalog=SLMD_ABP;user id=user;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Hms" connectionString="jdbc:h2:file:C:/HMS_db/database;USER=sa;PASSWORD=" />
    <add name="udahta_dbEntities" connectionString="metadata=res://*/ModelUda.csdl|res://*/ModelUda.ssdl|res://*/ModelUda.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=XP-BD;User Id=root;database=udahta_db;password=rootudahta;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="patient_info_dbEntities" connectionString="metadata=res://*/ModelPatient.csdl|res://*/ModelPatient.ssdl|res://*/ModelPatient.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=XP-BD;User Id=root;password=rootudahta;Persist Security Info=True;database=patient_info_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>